<!DOCTYPE html>
<html>
	<head>
		<title>Layout da tela de Cadastro de Usuário</title>
		<meta name="viewport" content="width-device-width, initial-scale=1.0">
		<!-- Bootstrap -->
		<link href="css/bootstrap.min.css" rel="stylesheet">
		<meta charset="UTF-8">	

		<!-- estilos personalizados -->
		<link type="text/css" rel="stylesheet" href="css/stylesheet.css" />	
	</head>
	
	<body>
		<nav class="navbar navbar-default">			
				<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">
					<span class="label label-primary">CEMAPA</span>
					<span class="label label-warning">Pedidos Online</span>
				</a>
				</div>
			
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				
				<!--<ul class="nav navbar-nav navbar-right">
					<li><a href="#">Link</a></li>
				</ul>-->
				</div>			
		</nav>
		<div class="container-fluid">	<!-- Elementos da página devem estar dentro de um container -->			
			
			<!-- Barra lateral esquerda -->
			<aside role="complementary" class="col-md-2">  
				<ul class="nav nav-pills nav-stacked">
 					<li role="presentation" class="menulateral">
 						<a href="#">
 							<span class="glyphicon glyphicon-star-empty" aria-hidden="false"></span>
 							Home
 						</a>
 					</li>
  					<li role="presentation" class="menulateral">
  						<a href="#">
							<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
  							Profile
  						</a>
  					</li>
  					<li role="presentation" class="menulateral">
  						<a href="#">
  							<span class="glyphicon glyphicon-phone-alt" aria-hidden="true"></span>
  							Messages
  						</a>
  					</li>
				</ul>
	
			</aside>
			<div role="complementary" class="col-md-10">
				<div class="input-group">
					<input type="text" class="form-control" placeholder="Pesquisar por Usuário...">
					<span class="input-group-btn">
						<button class="btn btn-default" type="button">
							Pesquisar
						</button>
					</span>
				</div>	
				<br>				
			</div>
			
			<div role="main" class="col-md-10 principal">
				<!--<div class="container-fluid">--> 
					<p><h1>Usuários</h1></p>
					<br>
					<p>
					<a href="#" class="btn btn-primary">Novo usuário</a>
					</p>
					
					<!--
					<div class="input-group">
						<span class="glyphicon glyphicon-search input-group-addon" aria-hidden="true"></span>
						<input ng-model="filtro" type="search" placeholder="digite parte do nome" class="form-control">
					</div>
					-->
					
					
					<div class="table-responsive">
						<table class="table table-hover">
							<tr>
								<th>NOME</th>
								<th>E-MAIL</th>
								<th class="text-center">AÇÃO</th>	
							</tr>
							<tr ng-repeat="contato in contatos | filter: filtro" style="font-size: large">
								<td>
									<a ng-href="#/contato/{{contato._id}}">{{contato.nome}}</a>
								</td>
								<td>{{contato.email}}</td>
								<td class="text-center">
									<button ng-click="detalha(contato)"
										class="btn btn-info">
										Mais Informações
									</button>
									<button ng-click="edita(contato)"
										class="btn btn-primary">
										Editar
									</button>
									<button ng-click="remove(contato)" 
										class="btn btn-warning">
											Excluir
									</button>
								</td>
							</tr>
						</table>
						<nav>
							<ul class="pagination">
								<li class="disabled"><a href="#" aria-label="Previous">
									<span aria-hidden="true">&laquo;</span></a></li>
								<li class="active"><a href="#">
									1 <span class="sr-only">(current)</span></a></li>
								<li class="active"><a href="#">
									2 <span class="sr-only">(current)</span></a></li>
								<li class="active"><a href="#">
									3 <span class="sr-only">(current)</span></a></li>
								<li class="active"><a href="#">
									4 <span class="sr-only">(current)</span></a></li>
								<li class="enabled"><a href="#" aria-label="Next">
									<span aria-hidden="true">&raquo;</span></a></li>
							</ul>
						</nav>
					</div>                         
				<!--</div>-->

			</div> 
			
			
			
			<!-- jquery (necessário) -->
			<script src="js/jquery.js"></script>
			<script src="js/bootstrap.min.js"></script>
		</div>
		<footer>					
			<div align="center">
			<br>
			<p><h6>2015 CEMAPA - Pedidos Online V 0.1</h6></p>
			<p><h6>Av. João XXIII, 2150 Medianeira - PR</h6></p>
			<p>
				<h6>
					<span class="glyphicon glyphicon-phone-alt" aria-hidden="true"></span>
					(45) 3264-3773
				</h6>
			</p>					
			</div>
		</footer>
	</body>
</html>