<!-- public/partials/contatos.html -->
<div class="jumbotron">
	<h1 class="text-center">
		Bem vindo ao Pedidos Web
	</h1>
</div>
<p ng-show="mensagem.texto">
	{{mensagem.texto}}
</p>

<div class="form-group">
	<a ng-href="#/contato" class="btn btn-primary">Novo Contato</a>
	Contatos cadastrados: {{contatos.length}}
</div>
<div class="input-group">
	<!--<span class="input-group-addon">Procurar</span>-->
	<span class="glyphicon glyphicon-search input-group-addon" aria-hidden="true"></span>
	<input ng-model="filtro" type="search" placeholder="digite parte do nome" class="form-control">
</div>

<hr>

<div class="table-responsive">
	<table class="table table-hover">
		<tr>
			<th>NOME</th>
			<th>E-MAIL</th>
			<th>Emergência</th>	
			<th class="text-center">Ação</th>			
		</tr>
		<tr ng-repeat="contato in contatos | filter: filtro" style="font-size: large">
			<td>
				<a ng-href="#/contato/{{contato._id}}">{{contato.nome}}</a>
			</td>
			<td>{{contato.email}}</td>
			<td>{{contato.emergencia.nome}}</td>
			<td class="text-center">
                <button ng-click="remove(contato)" 
					 class="btn btn-warning">
						Remover
				</button>
			</td>			
		</tr>
	</table>
</div>

